.header {
  background-color: white;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 120px;
  box-sizing: border-box;
  z-index: 1000;
  justify-content: flex-start;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


/* Контейнер для логотипа */
.logo-container {
  display: flex;
  justify-content: flex-start;  /* Логотип слева */
  align-items: center;  /* Центрируем логотип по вертикали */
  height: 100%;  /* Высота контейнера должна быть равной высоте шапки */
}

/* Логотип */
.logo {
  max-height: 30px;  /* Ограничиваем максимальную высоту логотипа */
  width: auto;   /* Ширина автоматически подстраивается */
  object-fit: contain;  /* Логотип сохраняет пропорции */
}

