/* Основной стиль */
.password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('/public/Фон-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* Контейнер */
.password-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px;
    height: 150px;
    text-align: center;
    position: relative;
}

/* Кнопка "Назад" */
.password-back-button {
    position: absolute;
    left: 15px;
    top: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Контейнер для поля ввода и кнопки */
.password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

/* Поле ввода пароля */
.password-input-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: white;
    position: relative;
}

/* Поле ввода */
.password-input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; 
    height: 30px;
    height: 20px;
    width: 100%; 
}

/* Глазик для показа/скрытия пароля */
.password-toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

/* Кнопка "Войти" */
.password-login-button {
    padding: 10px 55px;
    background: #f7cf02;
    color: black;
    border: none;
    height: 55px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Эффект при наведении на кнопку "Войти" */
.password-login-button:hover {
    background-color: rgb(227, 190, 9);
}

/* Убираем темную обводку при фокусе */
.password-input:focus {
    outline: none; /* Убираем стандартный outline */
    border-color: #f7cf02; /* Задаем светлый цвет обводки при фокусе */
}
  